# This file is just a sample, Don't use this file in the project!
# Core
ENV_TYPE={{envType}}
PORT=3742
ENCRYPTION_KEY={{randomString}}

# Translation
TRANSLATE_RESPONSE_MESSAGES=1

# Caching
STORE_TYPE=map
REDIS_CONNECTION_STRING={{redisConnectionString}}

# Database
DATABASE_CONNECTION_STRING={{dbConnectionString}}

# Rate Limit
RATE_LIMITER_LIMIT=500
RATE_LIMITER_WINDOW_MS=1000
